.AddForm {
   margin-bottom: 35px;
   margin-top: 30px;
   position: fixed;
   top: 0;
   left: 17%;
}
.enterTxt {
   width: 150px;
   height: 35px;
   border: 2px solid darkolivegreen;
   border-radius: 10px;
   margin-right: 15px;
   padding-left: 10px;
}
.AddForm-Btn {
   width: 70px;
   height: 40px;
   border: none;
   background: #ad46d3;
   color: floralwhite;
   font-weight: bold;
   border-radius: 10px;
}