.Message {
   overflow: hidden;
   width: 20%;
   padding: 15px;
   border: 2px solid #1dffd5;
   border-radius: 10px;
   margin: 0 auto 30px;
   background: #163357;
   text-align: left;
}
.Message p {
   color: #1dffd5;
   font-weight: bold;
}
.date {
   font-size: 12px;
}